*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}




:root {
    --colorPrimary: rgba(15, 97, 255, 1);
    --colorSecondary: rgba(255, 255, 255, 1);
    --colorGray1: #111;
    --colorGray2: #222;
    --colorGray3: #333;
    --colorGray6: #666;


    --fontPrimary: 'Be Vietnam Pro', sans-serif;


}

* {
    font-family: var(--fontPrimary);
}

.section {
    max-width: 1920px;
    overflow: hidden;
}

.page-first {
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 129px;
}

.frame {
    display: flex;
    justify-content: space-between;
    transform: translateY(40%);
}

.logo {
    display: flex;
    align-items: center;
    transform: translateX(10%);
}

.rectangle {
    width: 817px;
    height: 70px;
    border-radius: 54px;
    flex-shrink: 0;
    background: var(--colorSecondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rectangle-item {
    display: flex;
    align-items: center;
    gap: 28px;
    transform: translateX(5%);
}

.rectangle-icon {
    display: flex;
    align-items: center;
    gap: 16px;
    transform: translateX(-15%);
}

.title-1 {
    width: 100%;
    position: absolute;
    bottom: 6.67%;
}

.productCard {
    display: flex;
    flex-wrap: wrap;
}

.card-detail {
    align-items: center;
}

.icon-shop {
    position: relative;
}

.icon-quantity {
    position: absolute;
    top: 50%;
    right: -75%;
    background-color: var(--colorPrimary);
    border-radius: 16px;
    padding: 4px;
    gap: 8px;
}

.quantity-p {
    font-weight: 600;
    font-size: 10px;
}

.title-p {
    color: var(--colorSecondary);
    text-align: center;
    font-size: 213px;
    font-style: normal;
    font-weight: 500;
    line-height: 53.521%;
    letter-spacing: -17.04px;
}

.best-seller {
    padding: 48px 0;
}

.container-seller {
    margin: 55px 164px;
}

.text {
    padding-bottom: 31px;
}

.text-p {
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 98%;
    letter-spacing: -2.1px;
}

.productCard {
    border-radius: 28px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -14px;
    margin-right: -14px;
}

.container-card {
    width: 25%;
    padding: 0 14px;
}

.card {
    border-radius: 28px;
    background-color: #F7F7F8;
}

.card-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.title-description {
    padding-bottom: 8px;
}

.title-description-p {
    color: #1E1E1E;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.16px;
}

.price-p {
    color: #1E232B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
}

.img {
    display: flex;
    justify-content: center;
}

.select-color {
    padding-bottom: 32px;
}

.product-option {
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 4px;
}

.option-color {
    display: flex;
    width: 16px;
    height: 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 16px;
    border: 1px solid #C2C2C2;
    ;
}

.option-color:nth-child(1) {
    background-color: rgba(201, 191, 174, 1);
}

.option-color:nth-child(2) {
    background-color: rgba(163, 147, 181, 1);
}

.option-color:nth-child(3) {
    background-color: rgba(236, 151, 140, 1);
}

.option-color:nth-child(4) {
    background-color: rgba(236, 151, 140, 1);
}

.change {
    padding-top: 28px;
    position: relative;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 124px;
    height: 46px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 56px;
    background: var(--colorPrimary, #0F61FF);
}

.button-content {
    color: var(--colorSecondary, #FFF);
    font-feature-settings: 'ss01' on;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}